*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style-type: none;
}

.inner_container{
    height: 700px;
    display:flex;
   
    justify-content: center;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    border:1px solid black;
    padding:50px;
    
}
.form input{
    margin-bottom: 20px;
    height:40px;
   border-radius: 5px;
   border:1px solid lightgrey;
}
#reg{
    background-color: rgb(33, 105, 229);
    border:none;
    height:40px;
    border-radius: 5px;
    color:white;
    font-size:1em;
}